<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UI test">
  <test  name="Function Test">
 <groups>  
<run>  
<include name="Smoke Test"/>  
</run>  
</groups>
	  
    <classes>
      <class name="UI.VerifyTitletest"/>
      <class name="UI.Group"/>
      <class name="UI.VerifySoftAssertAndHardAssert"/>
      <class name="UI.loginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
